body{
    background-image: url(Images/cubes.png);
}
#container{
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 2em;
}
#container2{
    flex:auto;
    Flex flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}
#container3{
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
}
header h1{
    font-size: 8vw;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
header{
    background-color:darkseagreen;
    border: 2px solid black;

}

main{
    font-size: 4vw;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
audio{
    text-align: center;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
    
}

footer{
    text-align: center;
}


nav div{
    background-color: #ddd;
    text-align: center;
    font-size: 2vw;
    border: 1px solid;
    flex-direction: row;
    padding: 6px;
    font-family: 'Dosis', sans-serif;
}

nav a:link,nav a:visited{
    color:green;
    text-decoration:underline;
    font-size:2em;
    background-color:gainsboro;
    width:33%;
    padding:  0 40px
}

nav a:hover{
     color:darkgreen;
     background-color:gainsboro;
}
nav div a{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    
}

li {
    display: inline-flex;
}

.pic1{
    padding: 1px;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}
.pic1{
    margin: auto;
    border: 2px solid black;

}
.pic2{
    margin: auto;
    border: 2px solid black;
}
.pic3{
    margin: auto;
    border: 2px solid black;
}
.pic4{
    margin: auto;
    border: 2px solid black;
}
.pic5{
    margin: auto; 
    border: 2px solid black;
}
.pic6{
    margin: auto;
    border: 2px solid black;
}
.pic7{
    margin: auto;
    border: 2px solid black;
}
.pic8{
    margin: auto;
    border: 2px solid black;
}
.pic9{
    margin:auto;
    border: 2px solid black;
}
.pic10{
    margin:auto;
    border: 2px solid black;
}
.pic11{
    margin: auto;
    border: 2px solid black;
}
.pic12{
    margin: auto;
 border: 2px solid black;
}
.pic13{
    margin: auto;
     border: 2px solid black;
}